@model Customer.Models.BaseViewModel
@{
    //var catAndSubCategory = CheckClickClient.AppUtils.Branch.Maroof
    var cat = Model.strBranchShift;
}

<div class="archive-header" >
    <div class="row align-items-center">
        <div class="col-xl-3">
            <ul class="tags-list">
            <li class="hover-up mr-0">
                <div class="main-menu d-lg-block">
                    <nav>
                        <ul>
                            <li>
                                <a class="active" href="#">Branch Timing <i class="fi-rs-angle-down"></i></a>


                                <ul class="sub-menu">

                                    @{
                                        string Day = "";
                                    }
                                    @if (Model.BranchShift != null && Model.BranchShift.Count() > 0)
                                    {
                                        <li>Today > @Model.BranchStatus > @Model.Shift</li>
                                        @foreach (var items in Model.BranchShift)
                                        {
                                            switch (items.WeekDay)
                                            {
                                                case 1:
                                                    Day = "Sunday";
                                                    break;
                                                case 2:
                                                    Day = "Monday";
                                                    break;
                                                case 3:
                                                    Day = "Tuesday";
                                                    break;
                                                case 4:
                                                    Day = "Wednesday";
                                                    break;
                                                case 5:
                                                    Day = "Thursday";
                                                    break;
                                                case 6:
                                                    Day = "Friday";
                                                    break;
                                                case 7:
                                                    Day = "Saturday";
                                                    break;

                                            };
                                            if (items.IsClose == false)
                                            {
                                                <li>
                                                    @Day:
                                                    @if (items.IsOpen24Hrs == true)
                                                    {
                                                        @Html.Raw("Open 24 hours")
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(@items.StartTime +" to "+ @items.EndTime)

                                                    }
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @Day : Close
                                                </li>
                                            }

                                        }

                                    }
                                </ul>

                            </li>
                        </ul>
                    </nav>
                </div>
                </li>
            </ul>
        </div>
        <div class="col-xl-9 text-end d-none d-xl-block">
            <ul class="tags-list">

                
                <li>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <p>Delivery Time</p>
                    <h5>@(Model.DeliveryTime==null?DateTime.Now:Model.DeliveryTime)</h5>
                </li>
                <li class="hover-up">
                    <i class="fas fa-dollar-sign"></i>

                    <p> @(Model.ShippingProvider == 1 && Model.IsDeliveryCompany == 0 ? "Shipping Charges" : "Delivery Charges")</p>
                    <h5>
                        @(Model.ShippingProvider == 1 && Model.IsDeliveryCompany == 0 ? "Apply" : Model.DeliveryCharges.ToString())
                    </h5>
                </li>
                <li class="hover-up active">
                    <i class="fas fa-dollar-sign"></i>
                    <p>Minimum Order</p>
                    <h5>SAR @Model.MinimumOrderValue</h5>
                </li>
                <li class="hover-up">
                    <i class="far fa-check-square"></i>
                    <p>Orders Done</p>
                    <h5>@(Model.OrderDone==null?0:Model.OrderDone)</h5>
                </li>
                <li class="hover-up">
                    <i class="fas fa-city"></i>
                    <p>Business Since</p>
                    <h5>@Model.BusinessSince.ToString("yyyy")</h5>
                </li>
                <li class="hover-up mr-0">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Pickup</p>
                    @if (Model.Pickup == true)
                    {
                        <h5>Available</h5>
                    }
                    else
                    {
                        <h5>Unavailable</h5>
                    }
                </li>
                <li class="hover-up mr-0">
                    <i class="far fa-arrow-alt-circle-up"></i>
                    <p>Shipping</p>
                    @if (Model.ShippingProvider == 1)
                    {
                        <h5>Available</h5>
                    }
                    else
                    {
                        <h5>Unavailable</h5>
                    }
                </li>
            </ul>
            </div>
        </div>
    </div>



 