@model Customer.Models.CouponsDTO

@*@if (Model.LstCoupons != null)
{
    foreach (var item in Model.LstCoupons)
    {
        <div class="col-md-6 col-sm-12 mb-3">

            <div class="coupon">
                <div class="row">
                    <div class="col-xs-4 text-right fwidth">
                        <img src="@Model.UrlPath/@item.LogoCopy" width="114">
                    </div>
                    <div class="col-xs-8 fwidth p-3">
                        <strong>@item.StoreNameEn</strong>
                        <h4 class="blue-color">@item.VoucherNameEn</h4>
                        <h3 class="mt-2">Code : @item.CouponCode</h3>
                        <p class="grey-color pr-3">Validity @item.EndDate.ToString("dd MMM yyyy")</p>
                    </div>
                </div>
                <div class="half-circle-right"></div>
                <div class="half-circle-left"></div>
            </div>
        </div>
    }
}*@
<div class="row vendor-grid">
    @if (Model.LstCoupons != null)
    {
        int count = 1;
        foreach (var item in Model.LstCoupons)
        {
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                        <div class="coupon-card">
                        <img src="@Model.UrlPath/@item.LogoCopy" class="logo">
                        <h3>@item.StoreNameAr</h3>
                        <di class="coupon-row">
                            <span class="cpnCode">@item.CouponCode</span>&nbsp;
                            <span id="cpnBtn_@count" class="cpnBtn" onclick="CopyCode('Id_@count','@item.CouponCode')">: نسخ الرمز</span>
                        </di>
                        <p class="text-light">الصلاحية:  <strong>@item.EndDate.ToString("dd MMM yyyy")</strong></p>
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                    </div>
            </div>
            count++;

        }
    }
</div>
<input type="hidden" id="hdncount" value="@Model.LstCoupons.Count()" />

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <ul id="pagination-demo" class="pagination">
            </ul>
        </div>
    </div>
</div>

<input type="hidden" id="hdnToPagesCountForPagination" value="@Model.pagingNumber" />
<input type="hidden" id="hdnPageNumber_twbs" value="@Model.PageNumber" />
<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>
<script src="~/Scripts/jquery.twbsPagination.js"></script>
<script type="text/javascript">
    $(function () {
        var pNo = $('#hdnPageNumber_twbs').val();
        var i = parseInt(pNo);
        $('#pagination-demo').twbsPagination({
            totalPages: $('#hdnToPagesCountForPagination').val(),
            visiblePages: 5,
            startPage: i,
            initiateStartPageClick: false,
            onPageClick: function (event, page) {
                //fetch content and render here
                GetCoupons(page);
            }
        });
    });
</script>
