<!DOCTYPE html>
<html class="no-js" lang="en">
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>CHECKCLIK - User Login</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/nest/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/nest/css/main.css?v=5.6" />
    
    <script src="/nest/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/nest/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/nest/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/app-assets/js/scripts/extensions/toastr.js"></script>
    
    <!-- Vendor JS-->
    <script src="/nest/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/nest/js/plugins/slick.js"></script>
    <script src="/nest/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/nest/js/plugins/wow.js"></script>
    <script src="/nest/js/plugins/perfect-scrollbar.js"></script>
    <script src="/nest/js/plugins/magnific-popup.js"></script>
    <script src="/nest/js/plugins/select2.min.js"></script>
    <script src="/nest/js/plugins/waypoints.js"></script>
    <script src="/nest/js/plugins/counterup.js"></script>
    <script src="/nest/js/plugins/jquery.countdown.min.js"></script>
    <script src="/nest/js/plugins/images-loaded.js"></script>
    <script src="/nest/js/plugins/isotope.js"></script>
    <script src="/nest/js/plugins/scrollup.js"></script>
    <script src="/nest/js/plugins/jquery.vticker-min.js"></script>
    <script src="/nest/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/nest/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/nest/js/main.js?v=5.6"></script>
    <script src="/nest/js/shop.js?v=5.6"></script>
</head>
@if (TempData["Error"] != null)
{
    <text>
        <script>
            toastr.options = {
                "closeButton": true,
                "debug": true,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr['info']('@TempData["Error"]');
        </script>
    </text>
}
<body> 
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/nest/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…" />
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                    <li><a href="index-5.html">Home 5</a></li>
                                    <li><a href="index-6.html">Home 6</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                            <li><a href="shop-product-vendor.html">Product – Vendor Infor</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Shop Invoice</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-invoice-1.html">Shop Invoice 1</a></li>
                                            <li><a href="shop-invoice-2.html">Shop Invoice 2</a></li>
                                            <li><a href="shop-invoice-3.html">Shop Invoice 3</a></li>
                                            <li><a href="shop-invoice-4.html">Shop Invoice 4</a></li>
                                            <li><a href="shop-invoice-5.html">Shop Invoice 5</a></li>
                                            <li><a href="shop-invoice-6.html">Shop Invoice 6</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Vendors</a>
                                <ul class="dropdown">
                                    <li><a href="vendors-grid.html">Vendors Grid</a></li>
                                    <li><a href="vendors-list.html">Vendors List</a></li>
                                    <li><a href="vendor-details-1.html">Vendor Details 01</a></li>
                                    <li><a href="vendor-details-2.html">Vendor Details 02</a></li>
                                    <li><a href="vendor-dashboard.html">Vendor Dashboard</a></li>
                                    <li><a href="vendor-guide.html">Vendor Guide</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Mega menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children">
                                        <a href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login.html">Login</a></li>
                                    <li><a href="page-register.html">Register</a></li>
                                    <li><a href="page-forgot-password.html">Forgot password</a></li>
                                    <li><a href="page-reset-password.html">Reset password</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a href="#"><img src="/nest/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                    <a href="#"><img src="/nest/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                    <a href="#"><img src="/nest/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                    <a href="#"><img src="/nest/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                    <a href="#"><img src="/nest/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                </div>
                <div class="site-copyright">Copyright 2022 © Nest. All rights reserved. Powered by AliThemes.</div>
            </div>
        </div>
    </div>
    <!--End header-->
    <main class="main pages">
        <div class="page-header breadcrumb-wrap" hidden>
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <img class="border-radius-15" src="/nest/imgs/page/login-1.png" alt="" />
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h1 class="mb-5">Login</h1>
                                            <p class="mb-30">Don't have an account? <a href="/User/SignUpnest">Sign Up here</a></p>
                                        </div>
                                        <form method="post">
                                            <div class="form-group">
                                                <input id="MobileEmailId" type="text"  required="" name="email" placeholder="Username or Email *" onkeyup="myFunction(event)" onkeydown="myFunction(event)"  maxlength="100"/>
                                                <span id="keyVal" hidden class="danger"></span>
                                                    <span id="logMobNoErr" class="pb_text-red Bold"></span>
                                                    <span id="ValidationMessage" class="pb_text-red Bold"></span>
                                                    <input type="hidden" id="htnIpType" value="0" />
                                            </div>
                                            <div class="form-group">
                                                <input  id="Password" name="password" required="" type="password" name="password" placeholder="Your password *" />
                                                <span id='PasswordErr' class="text-danger Bold"></span>
                                                    <span id='loginErr'></span>
                                            </div> 
                                            <div class="login_footer form-group mb-50">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
                                                        <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                                    </div>
                                                </div>
                                                <a class="text-muted" href="#"><a href="javascript:;" data-toggle="modal" data-target="#modalLoginForm" class="card-link" onclick="ShowForgetPasswordModal()"><small>Forgot Password?</small></a></a>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" onclick="UserLogin()" class="btn btn-heading btn-block hover-up" name="login">Log in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Forgot Password Modal -->
                <div id="modalLoginForm1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><span id="spnForgotType">Vendor</span> Forgot Password?</h5>
                                <button type="button" class="close cursor" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="relative align-self-center">
                                    <div action="#" class="bg-white rounded pb_form_v1 no-box-shadow">
                                        <p>Verify yourself with:</p>
                                        <div class="form-group">
                                            <div class="input-group m-input-group">
                                                @*<span class="input-group-addon" id="faPhone">
                                                <i class="">+966</i>
                                                </span>*@
                                                <span class="input-group-addon" id="faEmail">
                                                    <i class="fa fa-envelope-o"></i>
                                                </span>
                                                <input type="text" id="txtEmailMobile" class="form-control pb_height-50 reverse" placeholder="Enter email to receive OTP" @*onblur="myFunction(event)"*@ @*onkeypress="myFunction(event)"*@ autocomplete="off">
                                            </div>

                                            <p id="keyVal"></p>
                                            <p id="ValidationMessage" class="pb_text-red"></p>
                                            <input type="hidden" id="htnIpType" value="0" />
                                        </div>

                                        <div class="form-group">
                                            <a class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" id="btnSendOTP" style="color:#fff;">Send OTP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><span id="spnForgotType">User</span> Forgot Password?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="loginmodal-container"> 
                                    <div id="wizard">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="stepf1">
                                                <div class="form-wrapper no-shadow">
                                                    <form>
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <span class="btn btn-default" @*style="background-color:#eaeaea !important;"*@>+966</span>
                                                            </span>
                                                            <div class="">
                                                                <input type="text" id="fmobileNo" autocomplete="off" class="form-control pb_height-50 reverse number" data-val-length-max="9" maxlength="9" minlength="9" name="MobileNo" placeholder="Enter Mobile Number" value="" onkeypress="return isNumberKey(event);" />
                                                            </div>
                                                        </div>
                                                        <span class="text-danger" id="fmobileErr"></span>
                                                        <div class="button-panel mt-2">
                                                            <a class="btn w-100 hover-up" aria-controls="step1" onclick="verifyFogotMobile()">Continue</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="stepf2">
                                                <div class="form-wrapper">
                                                    <form>
                                                        <span id="Timer"></span>
                                                        <p>Enter the OTP Sent to the mobile number<br /><strong>+966 <span id="fmobNo"></span></strong> for verification.  </p>
                                                        <div class="form-item">
                                                            <input id="fotpNo" class="form-control number" autocomplete="off" type="text" name="fname" maxlength="4" minlength="4" required="required" placeholder="Enter OTP" onkeypress="return isNumberKey(event);" />
                                                        </div>
                                                        <span id="fotpError" class="text-danger"></span>
                                                        <span id="otpTimer"></span>
                                                        <div class="button-panel mt-2">
                                                            <a class="btn w-100 hover-up" onclick="VerifyOTP()"> Verify OTP </a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="stepf3">
                                                <div class="form-wrapper">
                                                    <form>
                                                        <div class="form-group" style="position:relative"> 
                                                            <label class="text-bold-600" for="exampleInputPassword1">Enter Password</label>
                                                            <input type="password" id="fpswd" class="form-control pb_height-50 reverse" autocomplete="off" required="required" maxlength="50" minlength="3" placeholder="Enter Password" />

                                                            <span id='fpswrdErr' class="text-danger"></span>
                                                        </div>
                                                        <div class="form-item">
                                                            <label class="text-bold-600" for="exampleInputPassword1">Forget Password</label>
                                                            <input type="password" id="fpassConf" class="form-control pb_height-50 reverse" required="required" autocomplete="off" maxlength="50" minlength="3" placeholder="Confirm Password" />
                                                            <span id='fConpswrdErr' class="text-danger"></span>
                                                        </div>

                                                        <div class="button-panel mt-2">
                                                            <a href="#" class="btn w-100 hover-up" aria-controls="step1" onclick="UpdatePassword()">Submit</a>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </main>
    <footer class="main"> 
        
        <div class="container pb-30 wow animate__animated animate__fadeInUp" data-wow-delay="0">
            <div class="row align-items-center">
                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <p class="font-sm mb-0">© @DateTime.Today.Year, <strong class="text-brand">CHECKCLIK.COM.</strong> All rights reserved.</p>
                    <a href="javascript:;"><img src="~/web-assets/images/icons/appstore.png" alt="Download CHECKCLIK APP from Appstore" class="mr-1" style="width: 70px" /></a>
                    <a href="javascript:;"><img src="~/web-assets/images/icons/google_play.png" alt="Download CHECKCLIK APP from Play Store" class="mr-1" style="width: 70px" /></a>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 text-left d-none d-md-block">
                    <div class="footer-link-widget widget-install-app col">
                        @*<h4 class="widget-title">Install App</h4>
                        <p class="wow fadeIn animated">From App Store or Google Play</p>*@
                        @*<h4 class="widget-title">Install App <span class="wow fadeIn animated" style="font-size:12px;">(From App Store or Google Play)</span></h4>*@
                        
                        <div class=" download-app">
                            <a href="#" class="hover-up mb-sm-2 mb-lg-0"><img class="active" src="/nest/imgs/theme/app-store.jpg" alt="" /></a>
                            <a href="#" class="hover-up mb-sm-2"><img src="/nest/imgs/theme/google-play.jpg" alt="" /></a>
                        </div> 
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
                    <div class="hotline d-lg-inline-flex mr-30">
                        <img src="/nest/imgs/theme/icons/phone-call.svg" alt="hotline">
                        <p>1900 - 6666<span>Working 8:00 - 22:00</span></p>
                    </div>
                    <div class="hotline d-lg-inline-flex">
                        <img src="/nest/imgs/theme/icons/phone-call.svg" alt="hotline">
                        <p>1900 - 8888<span>24/7 Support Center</span></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="/nest/imgs/theme/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <script>
        function ShowForgetPasswordModal()
        {
            $("#modalLoginForm").modal("show");
        }
        function chars(e) {
            var key = document.all ? key = e.keyCode : key = e.which;
            return ((key > 64 && key < 91) || (key > 96 && key < 123));
        }
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode < 47 || charCode > 57))
                return false;
            return true;
        }
        function validateEmail($email) {
            var emailReg = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return emailReg.test($email);
        }
        function myFunction(event) {
        }
        function UserLogin() {
            // debugger
            var MobileEmailId = $('#MobileEmailId').val();
            var Password = $('#Password').val();
            var a = 0; b = 0;
            $("#logMobNoErr").text('');
            if (isNaN(MobileEmailId)) {
                a = 1;
            }
            else if (!isNaN(MobileEmailId)) {
                if (MobileEmailId[0] != 5) {
                    $("#logMobNoErr").text("Mobile Number Must Be Like 5xxxxxxxx").addClass("text-danger");
                    return;
                }
                if (MobileEmailId.length != 9) {
                    $('#logMobNoErr').html('Mobile Number Must be 9 Digit.').addClass("text-danger");
                    //return;
                    a = 1;
                }
                else
                    a = 0;

            }
            if (!validateEmail(MobileEmailId)) {
                b = 1;
            }
            else if (validateEmail(MobileEmailId)) {
                b = 0;
            }
            else {
                if (isNaN(MobileEmailId)) {
                    $('#logMobNoErr').html('Invalid Email.').addClass("text-danger");
                }
                else
                    b = 1;
            }
            if (a == 1 && b == 1) {
                if (MobileEmailId == '')
                    $('#logMobNoErr').html('Mobile/EmailId Required').addClass("text-danger");
                else
                    $('#logMobNoErr').html('Invalid Mobile/EmailId').addClass("text-danger");
                return;
            }
            else if (a == 0) {
                MobileEmailId = "+966" + MobileEmailId;

            }
            else if (b == 0) {
            }


            if (MobileEmailId == '' || Password == '') {

                if (MobileEmailId == '') {
                    $('#logMobNoErr').html('Mobile/EmailId Required').addClass("text-danger");
                }
                else {
                    $('#logMobNoErr').html('');
                }
                if (Password == '') {
                    $('#PasswordErr').html('Password Required').addClass("text-danger");
                }
                else {
                    $('#PasswordErr').html('');
                }
                return;
            }
            else {
                if (MobileEmailId == '') {
                    $('#logMobNoErr').html('');
                }
                if (Password == '') {
                    $('#PasswordErr').html('');
                }
            }


            //if (MobileEmailId != '') {
            //    $('#logMobNoErr').html('');
            //}

            //if (Password != '') {
            //    $('#PasswordErr').html('');
            //}

            var userDetails = { 'LoginName': MobileEmailId, 'Password': Password }
            $('#logMobNoErr').html('');
            $.ajax({
                /**/
                url: '@Url.Action("UserLoginValidation", "User")',
                /**/
                data: { UserData: userDetails },
                datatype: 'json',
                type: 'Post',
                success: function (result) {
                    // debugger
                    var status = result.status;

                    //alert(countDownDate);
                    if (!status) {
                        //alert(data.Message)
                        //$('#loginErr').html(result.Message).addClass("text-danger");;
                        toastr.options = {
                            "closeButton": true,
                            "debug": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        toastr['info'](result.message);
                        return
                    }
                    else {
                        if (result.returnUrl == null || result.returnUrl == '') {
                            window.location.href = '@Url.Action("NIndex","Home")';
                        }
                        else {
                            window.location.href = result.returnUrl;
                        }
                        //$('#loginErr').html(result.Message).css('color', 'green');

                    }
                },
                error: function () {
                    //$('#loginErr').html('Something went wrong').addClass("text-danger");;
                    toastr.options = {
                        "closeButton": true,
                        "debug": true,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };
                    toastr['info']('Something went wrong');
                }


            })
        }

        function verifyFogotMobile() {
            // debugger;
            var mob = $("#fmobileNo").val();
            if (mob == '') {
                //$('#mobileErr').html('Mobile No Required').css('color', 'red');
                $('#fmobileErr').text('Mobile Number Required').addClass("text-danger");
                return;
            }
            else if (isNaN(mob) == true) {
                $("#fmobileErr").text(isNaN(mob) == true ? "Invalid Mobile Number" : "");
                return;
            }
            else if (mob[0] != 5) {
                $("#fmobileErr").text("Mobile Number Must Be Like 5xxxxxxxx");
                return;
            }
            else if (mob.length != 9) {
                $('#fmobileErr').html('Invalid Mobile Number').addClass("text-danger");
                return;
            }
            else {
                $.ajax({
                    type: "GET",
                    /**/
                    url: '@Url.Action("GetForgotVerifyMobile", "User")',
                    /**/
                    contentType: "application/json; charset=utf-8",
                    data: { "MobileNo": mob },
                    datatype: "json",
                    success: function (data) {
                        var countDownDate = data.status;
                        if (!countDownDate) {
                            //alert(data.Message)
                            $('#fmobileErr').html(data.message).addClass("text-danger");
                            return
                        }
                        else {
                            // debugger
                            var mno = $("#fmobileNo").val();
                            $('#fmobNo').html(mno);
                            $('#stepf1').hide();
                            $('#stepf2').show();
                        }
                    },
                    error: function () {
                        $('#mobileErr').html('Something Went Wrong').addClass("text-danger");
                        return
                    }
                });
                $('#fmobileErr').html('');

            }

        }

        function VerifyOTP() {
            var mobileNo = $("#fmobileNo").val();
            var otpno = $("#fotpNo").val();
            // debugger

            $.ajax({

                /**/
                url: '@Url.Action("GetForgotVerifyOtp")',
                /**/
                type: 'get',
                datatype: 'json',
                data: { 'MobileNo': mobileNo, 'otp': otpno },
                success: function (data) {
                    // debugger;
                    var countDownDate = data.status;
                    if (!countDownDate) {
                        $('#fotpError').html(data.message).addClass("text-danger");
                        return
                    }
                    else {

                        $('#fotpError').html(data.message).css('color', 'green');
                        $('#stepf2').hide();
                        $('#stepf3').show();

                        toastr.options = {
                            "closeButton": true,
                            "debug": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        toastr['info']('OTP Verified !');
                         
                    }
                },
                error: function () {
                    alert("Error Submission")
                }
            });
        }
        
    function UpdatePassword() {
        //if ($("#fpswd").val() != '') {
        //    $('#fpswrdErr').html('');
        //}
        //if ($("#fpassConf").val() == '') {
        //    $('#fConpswrdErr').html('Confirm Password Required').addClass("text-danger");
        //}
        //if ($("#fpassConf").val() != '') {
        //    $('#fConpswrdErr').html('');
        //    //return;
        //}
        //if ($('#fpswd').val() == $('#fpassConf').val()) {
        //    $('#fmessage').html('').css('color', 'green');
        //}
        var pl = 0, cpl = 0;
         if ($("#fpswd").val() == '') {
            $('#fpswrdErr').html('Password Required').addClass("text-danger");
            //return;
            pl = 1;
        }
        else {
            if ($("#fpswd").val().length < 4) {
                $('#fpswrdErr').html('Password Should Be Between 4 And 50');
                pl = 1;
            }
            else
                $('#fpswrdErr').html('');
        }

        if ($("#fpassConf").val() == '') {
            $('#fConpswrdErr').html('Confirm Password Required').addClass("text-danger");
                cpl = 1;
        }
        else {
            if ($("#fpassConf").val().length < 4) {
                $('#fConpswrdErr').html('Confirm Password Should Be Between 4 And 50')
                cpl = 1;
            }
            else
                $('#fConpswrdErr').html('');
        }
        if (pl != 0 || cpl != 0) {
            //$('#step2').hide();
            //$('#step1').show();
            return false;
        }
        if ($('#fpswd').val() != $('#fpassConf').val() && $("#fpassConf").val() != '') {
            $('#fConpswrdErr').html('Password Not Matching').addClass("text-danger");
            return false;
        }




        // debugger;
        var mobileNo = $("#fmobileNo").val();
        var otpno = $("#fotpNo").val();
        var Password = $("#fpswd").val();

        if (otpno == "") {
            $('#fotpError').html("Enter OTP Is Required").addClass("text-danger");
            return
        }
        var userDetails = { 'MobileNo': mobileNo, 'OtpCode': otpno, 'Password': Password };
        var stringData = JSON.stringify(userDetails)
        // debugger

        $.ajax({

            /**/
            url: '@Url.Action("UpdatePassword")',
            /**/
            type: 'Post',
            datatype: 'json',
            data: { UserData: stringData },
            success: function (data) {
                // debugger;
                var countDownDate = data.status;
                if (!countDownDate) {
                    //alert(data.Message)
                    $('#fotpError').html(data.message).addClass("text-danger");
                    return
                }
                else {
                    $('#fotpError').html(data.message).css('color', 'green');
                    
                        toastr.options = {
                            "closeButton": true,
                            "debug": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                        toastr['info']('Password Updated Successfully !');
                        window.location.href = '@Url.Action("NIndex","Home")';
                     
                }
            },
            error: function () {
                toastr.options = {
                            "closeButton": true,
                            "debug": true,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        };
                    toastr['error']('Somethnig went wrong, try after sometime!');
                
            }
        });
    }
    </script>
</body>

</html>